{% extends 'base.html' %}

{% block title %} Signup {% endblock %}

{% block section %}

{% for error in errors %}
    <p style="color: red">{{ error }}</p>
{% endfor%}

{% if success_message %}
    <p><span style="color:green">¡Usuario registrado con éxito! </span> Ir a <a href="{% url 'user_login' %}">login</a></p>
{% endif %}

<form method="post">
    <!-- Evitar el Cross-site request forgery -->
    {% csrf_token %}
    <table>
        {{ signup_form.as_table }}
    </table>
    <div>
        <button>Registrarse</button>
    </div>
</form>

{% endblock %}